::-moz-selection {
  background-color: #fff;
  color: #333;
}

::selection {
  background-color: #fff;
  color: #333;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: radial-gradient(
    circle 403px at 51.3% 0.3%,
    rgba(103, 210, 217, 1) 0%,
    rgba(102, 170, 192, 1) 100.2%
  );
}

body {
  line-height: 1.6;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  color: #fff;
  padding: 2rem;
  min-height: 100vh;
  font-size: 1.6rem;
  max-width: 114rem;
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2.5rem;
  font-weight: 500;
}

.header__logo img {
  height: 4.5rem;
}

.header__logo div {
  margin-top: 0.6rem;
}

.row {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  min-height: calc(100vh - 20.8rem);
  gap: 2.5rem;
}

.row .head {
  color: #fff;
  line-height: 1;
}

.row .head h1 {
  font-size: 5rem;
}

.row .head .meta {
  font-size: 2.2rem;
  margin-top: 2rem;
  line-height: 1.2;
}

.file-selector-container {
  padding: 2rem;
  border-radius: 1rem;
  /* display: none; */
}

.file-selector {
  width: 100%;
  border: 2px dashed #fff;
  min-height: 20rem;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5rem 2rem;
}

.file-selector > input[type='file'] {
  position: absolute;
  height: 0;
  width: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  appearance: none;
}

.file-selector-icon {
  width: 5.5rem;
  height: 5.5rem;
  background-image: url('/img/add.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: drop-shadow(0 0 0.4rem rgb(214, 214, 214));
}

.file-selector-text {
  font-size: 2.1rem;
  font-weight: 500;
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

.file-selector > label {
  margin-top: 2rem;
}

.file-selected-container,
.uploaded-container {
  display: flex;
  flex-direction: column;
  padding: 3.5rem 2.5rem;
  border-radius: 0.25rem;
  background-color: rgba(53, 122, 145, 0.3);
  gap: 1.5rem;
  color: #444;
}

.file-selected {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(159, 231, 236, 0.27);
  padding: 1rem 1.5rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(159, 231, 236, 0.27);
}

.file-selected--no-bg {
  background-color: transparent;
  border: 0;
  grid-template-columns: 40px 1fr;
}

.expiry {
  padding: 1rem 2rem;
  font-weight: 700;
}

.file-selected-icon,
.download-container .file .file-icon {
  width: 43px;
  height: 43px;
  background-image: url('/img/file.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.file-selected--no-bg .file-selected-icon {
  width: 38px;
  height: 38px;
}

.file-selected-text > div:nth-child(1) {
  font-size: 1.61rem;
  word-break: break-all;
  line-break: anywhere;
}

.file-selected-text > div:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 400;
}

.file-selected-remove {
  width: 25px;
  height: 25px;
  background-image: url('/img/close.svg');
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  justify-self: end;
  cursor: pointer;
}

.selected-view button {
  margin: 0;
  margin-top: 3rem;
  width: 100%;
  font-size: 1.8rem;
}

.progress {
  padding: 1rem 2rem;
  width: 100%;
  height: 100%;
}

.progress progress {
  width: 100%;
}

.uploaded-container {
  text-align: center;
  margin: 3rem auto;
  max-width: 80rem;
  padding: 4rem 10rem;
  line-height: 1.345;
  color: #fff;
}

.uploaded-container h1 {
  font-size: 3.3rem;
}

.uploaded-container p {
  margin: 1rem 0;
  font-size: 1.7rem;
}

.uploaded-container button {
  margin: 0;
  margin-top: 1rem;
  width: 100%;
  font-size: 1.6rem;
}

.uploaded-container input[type='text'] {
  background-color: rgba(159, 231, 236, 0.27);
  padding: 1rem 1.4rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(159, 231, 236, 0.27);
  margin: 1.2rem 0 0.8rem;
  color: #fff;
  font-size: 1.6rem;
}

.w-100 {
  width: 100% !important;
}

.m-0 {
  margin: 0 !important;
}

.footer {
  color: #fff;
  padding: 4rem 2rem 2rem;
  font-size: 1.3rem;
  display: grid;
  justify-content: center;
  letter-spacing: 1px;
}

.footer__copyright {
  color: rgb(12, 12, 12);
}

/* Download page */
.download-container {
  color: #fff;
  background-color: rgba(53, 122, 145, 0.3);
  padding: 5rem 2rem 4rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 3rem;
}

.download-container h1 {
  font-size: 4.2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  line-height: 1.2;
}

.download-container p {
  font-size: 1.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.download-container .file {
  text-align: left;
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 0.8rem;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #fff;
  background-color: rgba(159, 231, 236, 0.27);
  padding: 1rem 2rem;
  border-radius: 0.25rem;
  border: 1px solid rgba(159, 231, 236, 0.27);
  width: 40%;
  margin: 2rem auto;
}

.download-container .file .file-text div:nth-of-type(1) {
  margin-bottom: 5px;
}

.download-container a {
  width: 50%;
  margin: 3rem auto 0;
  font-size: 1.8rem;
}

.download-container img {
  margin-top: 2rem;
}

/* Components */
.btn {
  display: flex;
  overflow: hidden;

  margin: 10px;
  padding: 12px 2.5rem;

  cursor: pointer;
  user-select: none;
  transition: all 150ms linear;
  text-align: center;
  white-space: nowrap;
  text-decoration: none !important;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;

  color: #fff;
  border: 0 none;

  font-size: 13px;
  font-weight: 500;
  line-height: 1.3;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2.5rem;

  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 5px 1px #b8b8b8;
}

.btn.-blue {
  color: #ffffff;
  background: #353866;
}

.btn:hover {
  transition: all 150ms linear;

  opacity: 0.85;
}

.btn:active {
  transition: all 150ms linear;
  opacity: 0.75;
}

.btn:focus {
  outline: 1px dotted #959595;
  outline-offset: -4px;
}

.btn.btn--text-only {
  background-color: transparent;
  color: #353866;
  box-shadow: none;
  border: 0;
}

.btn.btn--text-only:focus {
  outline: none;
}

/* media queries */
@media screen and (max-width: 768px) {
  .row {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 2rem;
    gap: 0;
  }

  .row .head {
    order: 2;
    text-align: center;
  }

  .file-selector-container {
    padding: 0.5rem;
  }

  .file-selected-container {
    padding: 2rem 1.2rem;
  }

  .file-selected {
    padding: 0.8rem;
  }

  .download-container {
    padding: 5rem 2.3rem;
  }

  .download-container .file {
    width: 100%;
  }

  .download-container a {
    width: 100%;
  }

  .not-found img {
    height: 250px;
  }

  .uploaded-container {
    padding: 2rem;
  }
}
